.divContainer {
    text-align: center;
    margin-top: 150px;
    width: 50%;
    margin-left: 300px;
    padding: 10px;
    border-radius: 20px;
}

button {
    border-radius: 10px;
    padding: 12px;
    margin: 7px;
    border-color: black;
    cursor: pointer;
}

#cementColor {
    background-color: #e0e0e0;
}

#greenColor {
    background-color: #6fcf97;
}

#blueColor {
    background-color: #56ccf2;
}

#roseColor {
    background-color: #bb6bd9;
}

.paragraph_class {
    font-size: 15px;
    font-style: italic;
}